#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background: #fcd424;
  font: normal 16px/24px "Helvetica Neue", Helvetica, Arial, freesans,
    sans-serif;
}

input {
  width: 50px;
  background-color: green;
}

#viewport {
  width: 100%;
  height: 100%;
  background: #c7433e;
  border: 10px solid #ed5d52;
  position: relative;
  overflow: hidden;
}

#viewport .stack {
  background: #ed5d52;
  border-radius: 10px;
  display: flex;
  position: absolute;
  top: 200px;
}

#source {
  width: 500px;
  margin: 20px auto;
}

#source a {
  color: #c7433e;
}

.otherScores {
  display: flex;
  margin-right: 15px;
}

.otherScore {
  margin-right: 15px;
  margin-top: 35px;
}
